.news {
  &__title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
    &-empty {
      margin-bottom: 100px;
    }
  }
  &__list {
    margin-top: 30px;
    z-index: -1;
    display: flex;
    flex-direction: column;

    &-item {
      margin-bottom: 20px;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
      transition: all ease 0.2s;
      &:hover {
        border-color: #40b0ee;
        a {
          color: #40b0ee;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      position: relative;
      font-size: 16px;

      // &::before {
      //   content: "";
      //   width: 0;
      //   height: 2px;
      //   position: absolute;
      //   background-color: #40b0ee;
      //   left: auto;
      //   bottom: -11px;
      //   transition: width 0.3s;
      // }
      // &:hover::before {
      //   width: 100%;
      // }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-blocks {
      display: flex;
      width: 60%;
      flex-wrap: wrap;
    }
    &-empty {
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
  }
  &-wrapper {
    margin: 50px 0;
    padding: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  }
  &__search {
    position: relative;
    &-input {
      width: 245px;
      border-radius: 30px;
      padding: 10px 20px;
      outline: none;
      border: 1px solid transparent;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
      transition: all ease 0.3s;
      &:focus {
        border-color: #40b0ee;
      }
      &::placeholder {
        font-family: "Roboto", sans-serif;
      }
    }
    // &-btn {
    //   font-size: 0;
    //   line-height: 0;
    //   background: transparent;
    //   background-image: url("../../img/search.svg");
    //   position: absolute;
    //   right: 8px;
    //   top: 13px;
    //   width: 24px;
    //   height: 24px;
    //   padding: 17px;
    //   background-repeat: no-repeat;
    // }
  }
}

//media
@media (max-width: 1000px) {
  .news {
    &__content {
      &-blocks {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .news {
    &-wrapper {
      overflow-x: scroll;
    }
    .mobile-oveflow {
      width: 700px;
    }
  }
}
