.mobile-menu__linewrapper {
  position: fixed;
  z-index: 2;
}
.mobile-menu__overside {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: none;
  &.active {
    display: block;
  }
}
.mobile-menu__list {
  background-color: #fff;
  width: 243px;
  height: 100%;
  padding: 60px 20px 0px 20px;
  transform: translateX(100%);
  transition: all ease 0.3s;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 2;
  &.active {
    transform: translateX(0%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  }
}
.menu__item {
  margin-right: 0;
}

//media

@media (max-width: 360px) {
  .mobile-menu__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 560px) {
  .mobile-menu__linewrapper {
    &.active {
      display: none;
    }
  }
  body {
    overflow: visible;
  }
}
