.footer {
  border-top: 1px solid #eee;
  text-align: center;
  flex: 0 0 auto;
  &__content {
    padding: 20px 0;
  }
  &__title {
    font-family: VT323, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  &__social {
    &-link {
      display: inline-block;
      margin-right: 20px;
      svg {
        transition: all ease 0.3s;
      }
      &.vk-link {
        &:hover {
          svg {
            fill: #2787f5;
          }
        }
      }
      &.instagram-link {
        &:hover {
          svg {
            fill: #9a5f98;
          }
        }
      }
      &.telegram-link {
        &:hover {
          svg {
            fill: #0088cc;
          }
        }
      }
      &.github-link {
        &:hover {
          svg {
            fill: #868dff;
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
