.news__title-tag {
  font-size: 30px;
}
.category {
  .news__block {
    margin-right: 30px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

@media (max-width: 700px) {
  .category {
    .news__block {
      margin-right: 0;
    }
  }
}
