.news-info {
  &.page-section {
    min-height: auto;
  }

  &__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  &__menu {
    position: absolute;
    right: 20px;
    top: 75px;
  }
  &__top {
    display: flex;
    flex-wrap: wrap;
  }
  &__img {
    width: 100%;
    img {
      max-width: 100%;
    }
  }
  &__text {
    text-align: justify;
    text-indent: 0.9rem;
    line-height: 32px;
    font-size: 20px;
    white-space: pre-wrap;
  }
  &__date {
    margin-right: 20px;
  }
  &__tag {
    color: #40b0ee;
    &:hover {
      text-decoration: underline;
    }
  }
  h1,
  h2,
  h3,
  h4 {
    margin: 40px 0 30px;
  }
  p {
    word-break: break-word;
    word-spacing: normal;
    img {
      transform: translateX(-14.5px);
    }
  }
  iframe {
    max-width: 100%;
  }
  br {
    display: none;
  }
  img {
    width: 100%;
    margin: 20px 0;
  }
}

.news-info__btn {
  cursor: pointer;
  // &:hover + .news-info-popup {
  //   opacity: 1;
  // }
}

.news-info-popup {
  position: absolute;
  right: 0;
  top: 10px;
  margin-top: 15px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
  display: none;
  &.active {
    display: block;
  }
}

.news__menu {
  &-item {
    padding: 12px 20px;
    &:hover {
      background: #40b0ee26;
      color: #40b0ee;
      cursor: pointer;
    }
  }
}

//media

@media (max-width: 430px) {
  .news-info {
    &__title {
      font-size: 25px;
    }
    &__top {
      font-size: 12px;
    }
    &__text {
      text-align: justify;
      line-height: 28px;
      font-size: 16px;
    }
  }
}
