.news-info-popup {
  position: absolute;
  right: 0;
  top: 10px;
  margin-top: 15px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
  display: none;
  &.active {
    display: block;
  }
}

.news__menu {
  &-item {
    padding: 12px 20px;
    &:hover {
      background: #40b0ee26;
      color: #40b0ee;
      cursor: pointer;
    }
  }
}

.news-info__btn {
  cursor: pointer;
}
