.skills {
  &.page-section {
    margin: 0 0 60px 0;
    min-height: auto;
  }
  text-align: center;
  &__title {
    font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
  }

  h3 {
    font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  }
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &-title {
      margin-bottom: 60px;
      font-size: 25px;
    }
    &-text {
      width: 500px;
      line-height: 1.5;
      font-size: 18px;
      margin-bottom: 40px;
    }
    &-stack {
      margin-bottom: 40px;
      max-width: 600px;
    }
    &-img {
      width: 80px;
      height: 80px;
      transition: all ease 0.3s;
      margin-left: 30px;
      margin-bottom: 20px;
      &:first-of-type {
        margin-left: 0;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.tooltip {
  width: 100px;
}

//media

@media (max-width: 549px) {
  .skills {
    &__content {
      &-text {
        width: 100%;
      }
      &-img {
        &:nth-last-of-type(4n) {
          margin-left: 0;
        }
      }
    }
  }
}
