.news__empty {
  text-align: center;
  &-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 80px;
  }
  &-img {
    margin-bottom: 80px;
  }
  &-btn {
    padding: 16px 70px;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #c4c4c4;
    margin-bottom: 50px;
    // color: #40b0ee;
    &:hover {
      color: #40b0ee;
      border-color: #40b0ee;
    }
  }
}
