@import "./fonts.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--fullpost {
  max-width: 750px;
}
.page-section {
  margin: 40px 0;
  min-height: 100vh;
}
